<!-- start custom head snippets -->


<link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/jianjieluo/jianjieluo.github.io/master/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://raw.githubusercontent.com/jianjieluo/jianjieluo.github.io/master/images/favicon.jpg">

<script src="//d3js.org/d3.v3.min.js"></script>
<script>
function hideBlock(id) {
  document.getElementById(id).style.display = 'none';
}
function showBlock(id) {
  document.getElementById(id).style.display = 'block';
}
</script>
<!-- end custom head snippets -->
