---
layout: single
author_profile: true
---

{% include base_path %}

<h2>News</h2>
<div id="news">
  {% for item in site.data.news.main %}
  <p><strong><font class="new">NEW! </font></strong>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('news'); showBlock('allnews'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="allnews" style="display: none;">
  {% for item in site.data.news.all %}
  <p><strong><font class="new">NEW! </font></strong>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('allnews'); showBlock('news'); return false;" class="btn btn--inverse">Less</a>
</div>

<h2 style="clear: both;" id="publications">Publications <a href="https://scholar.google.com/citations?user=PMgCjQcAAAAJ" style="font-size: 0.85em; font-weight: normal;">[Google Scholar]</a></h2>
<h3>2021</h3>
{% for publication in site.data.publications.year2021 %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>
<h3>2020</h3>
{% for publication in site.data.publications.year2020 %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>


<h2 id="bio">Bio</h2>
<div><p>
I am currently a Ph.D student of <a href="https://cse.sysu.edu.cn/" target="_blank">School of Computer Science and Engineering</a> in <a href="http://www.sysu.edu.cn/en/index.htm" target="_blank">Sun Yat-sen University(SYSU)</a>, a member of a joint Ph.D. program between SYSU and <a href="https://air.jd.com/#index" target="_blank">JD AI Research(JDAIR)</a>. My advisors are <a href="http://tingyao.deepfun.club/" target="_blank">Dr. Ting Yao</a>, <a href="https://taomei.me/" target="_blank">Dr. Tao Mei</a> and <a href="https://cse.sysu.edu.cn/content/2508" target="_blank">Prof. Hongyang Chao</a>.
</p></div>

<!-- {% include timeline.html %} -->

<h2 style="clear: both;" >Research Interests</h2>
<ul>
  <li>Vision and Language</li>
  <li>Video Analytics</li>
  <li>Representation Learning</li>
</ul>

<h2 style="clear: both;">Education</h2>
<ul>
  <li><b>08/2019 - 06/2024, Sun Yat-Sen University</b></li>
  <ul>
    <li>Ph.D. in Computer Science and Technology (Expected June 2024)</li>
    <li>Joint Ph.D. Program with JD AI Research</li>
  </ul>
  <li><b>08/2015 - 07/2019, Sun Yat-sen University (GPA:3.9, rank 8/120)</b></li>
  <ul>
    <li>B.S. in Software Engineering</li>
  </ul>
</ul>

<h2 style="clear: both;">Experiences</h2>
<ul>
  <li><b>08/2020 - Present</b>: Research Intern</li>
  <ul>
    <li>Computer Vision and Multimedia Lab at JD AI Research, Beijing</li>
    <li>Mentor: <a href="http://tingyao.deepfun.club/" target="_blank">Ting Yao</a></li>
  </ul>
  <li><b>07/2018 - 04/2019</b>: Research Intern</li>
  <ul>
    <li>Computer Vision and Multimedia Lab at JD AI Research, Beijing</li>
    <li>Mentor: <a href="http://tingyao.deepfun.club/" target="_blank">Ting Yao</a></li>
  </ul>
  <li><b>03/2018 - 06/2018</b>: Research Intern</li>
  <ul>
    <li><a href="http://www.pixtalks.com/home" target="_blank">Pixtalks Technology</a>, Guangzhou</li>
    <li>Mentor: <a href="https://dblp.uni-trier.de/pers/hd/d/Ding:Shengyong" target="_blank">Shengyong Ding</a></li>
  </ul>
</ul>

<h2 style="clear: both;">Selected Awards</h2>
<ul>
  <li><b>Outstanding Undergraduate</b>, SYSU 2019, <b>Top 5%</b> in SYSU.</li>
  <li><b>National Scholarship</b>, 2018, <b>Top 1%</b> in SYSU.</li>
  <li><b>Finalist Winner</b> of 2018 American College Students Mathematical Modeling Contest, <b>Top 0.38%</b> in 20638 teams.</li>
</ul>
