{% include base_path %}

<div id="timeline">
  <div class="timelineitem">
    <div class="tdate">2020 -</div>
    <h3 class="ttitle">Research Scientist, Google</h3>
    <div class="tdesc">Research into large-scale grounded language learning.
    </div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2018 - 2020</div>
    <h3 class="ttitle">Research Scientist, Georgia Tech</h3>
    <div class="tdesc">Collaborating with
    <a href="https://www.cc.gatech.edu/~dbatra/" target="_blank">Dhruv Batra</a> and
    <a href="https://www.cc.gatech.edu/~parikh/" target="_blank">Devi Parikh</a> on
      research in vision and language, e.g. image captioning, visual
      question answering (VQA), vision-and-language navigation (VLN), etc.
    </div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2015 - 2018</div>
    <h3 class="ttitle">PhD (Computer Science), Australian National University</h3>
    <div class="tdesc">Machine learning combining visual and linguistic
      understanding. Affiliated with the <a href="https://roboticvision.org" target="_blank">Australian Centre for Robotic Vision</a>, advised by
      <a href="https://users.cecs.anu.edu.au/~sgould/" target="_blank">Stephen Gould</a>.
    </div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2014 - 2015</div>
    <h3 class="ttitle">Engineer, Sabre Autonomous Solutions</h3>
    <div class="tdesc">Advancing an autonomous grit-blasting robot from university prototype to commercial product.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2013 - 2014</div>
    <h3 class="ttitle">Flounder, FrameFish</h3>
    <div class="tdesc">Developing and commercializing virtual try-on technology for glasses and sunglasses.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2009 - 2012</div>
    <h3 class="ttitle">BEng (Computer), University of NSW</h3>
    <div class="tdesc">1st class honours and university medal.</div>
  </div>
  <div class="timelineitem">
   <div class="tdate">2005 - 2009</div>
    <h3 class="ttitle">Securities Analyst, Credit Suisse</h3>
    <div class="tdesc">Sell-side analyst covering Australian financials including commercial banks and investment banks.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2000 - 2004</div>
    <h3 class="ttitle">BComm (Finance & Economics), University of Sydney</h3>
    <div class="tdesc">1st class honours and university medal.</div>
  </div>
</div>
